
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ggks</title>
    <link rel = "favicon" type="images/x-icon" href="favicon.ico">
</head>
<style>
a{text-decoration:none;color:red}
body{ text-align:center;}
.box{
            border: 10px solid cyan;
            width: 600px;
            height: 300px;
            margin: auto;
            position: absolute;
            padding-top: 40px;
            top:30%;
            left: 20%;
        }
/* css注释：为了观察效果设置宽度 边框 高度等样式 */
</style>

<body bgcolor="#222222">

<div class="box" style="font-size: 50pt">
   
   <a href="pa.html">1.V2</a>&nbsp&nbsp&nbsp&nbsp
    <a href="pb.html">2.SS</a><br><br>
   
<span style="color:red">{{ host }}</span>
</div>

<div style="font-size: 25pt">
  <video width="640" height="2480" controls>
  <source src="update.mp4" type="video/mp4">
</video>
</div>

<script color="0,255,255" opacity="1" count="120" src="https://cdn.bootcss.com/canvas-nest.js/1.0.1/canvas-nest.js" type="text/javascript" charset="utf-8"></script>

</body>
</html>
